* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  font-family: $fontJosefin;
  background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
  margin: 0;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column-reverse;
  }
}

.page-wrapper {
  flex: 1;
  background: url('../images/bg-pattern-desktop.svg') no-repeat bottom center / cover;
  padding: 75px 75px 150px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tabletBreakpoint) {
    padding: 75px 20px;
  }

  @media (max-width: $mobileBreakpoint) {
    padding: 64px 32px;
  }

  .page-container {
    width: 100%;
    height: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: $tabletBreakpoint) {
      max-width: 311px;
      justify-content: flex-start;
    }

    @media (max-width: $mobileBreakpoint) {
      align-items: center;
    }

    .logo {
      height: 33px;
      margin-bottom: 30px;

      @media (max-width: $tabletBreakpoint) {
        margin-bottom: 64px;
      }

      @media (max-width: $mobileBreakpoint) {
        position: absolute;
        left: 32px;
        top: 31px;
        height: 20px;
        margin-bottom: 0;
      }
    }

    .content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .heading {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 71px;
        letter-spacing: 17.3206px;
        text-transform: uppercase;
        color: $dark;
        margin: 0 0 32px;

        @media (max-width: $tabletBreakpoint) {
          font-size: 40px;
          line-height: 42px;
          letter-spacing: 10.8254px;
        }

        @media (max-width: $mobileBreakpoint) {
          text-align: center;
          margin-bottom: 16px;
        }

        span {
          font-weight: 300;
          line-height: 64px;
          color: $darkRose;

          @media (max-width: $tabletBreakpoint) {
            font-size: 40px;
            line-height: 42px;
          }
        }
      }

      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: $darkRose;
        margin: 0 0 40px;

        @media (max-width: $tabletBreakpoint) {
          font-size: 14px;
          line-height: 22px;
        }

        @media (max-width: $mobileBreakpoint) {
          text-align: center;
          margin-bottom: 32px;
        }
      }

      .form {
        position: relative;
        width: 100%;

        &.has-error {
          .form-input {
            box-shadow: inset 0px 0px 0px 2px #F96464;
          }

          .form-error {
            display: block;
          }

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 116px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: url('../images/icon-error.svg') no-repeat center center / contain;

            @media (max-width: $tabletBreakpoint) {
              right: 72px;
            }
          }
        }

        .form-input {
          width: 100%;
          appearance: none;
          outline: none;
          border: none;
          background-color: transparent;
          padding: 15px 156px 15px 32px;
          border-radius: 28px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 28px;
          color: $dark;
          box-shadow: inset 0px 0px 0px 1px $darkRose;
          transition: box-shadow ease-out .2s;
          will-change: box-shadow;

          @media (max-width: $tabletBreakpoint) {
            font-size: 14px;
            padding: 10px 104px 10px 24px;
          }

          &::placeholder {
            color: $darkRose;
            mix-blend-mode: normal;
            opacity: 0.5;
          }
        }

        .form-button {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100px;
          border-radius: 28px;
          appearance: none;
          outline: none;
          border: none;
          background: $gradient;
          box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
          cursor: pointer;

          @media (max-width: $tabletBreakpoint) {
            width: 64px;
          }

          &:before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 28px;
            background: transparent url('../images/icon-arrow.svg') no-repeat center center / auto 17px;
            transition: background-color ease-out .2s, box-shadow ease-out .2s;
            will-change: background-color, box-shadow;
          }

          &:hover:before {
            background-color: rgba($white, 0.5);
            box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
          }
        }

        .form-error {
          display: none;
          position: absolute;
          left: 32px;
          bottom: -32px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 28px;
          color: #F96464;
          margin: 0;
        }
      }
    }
  }
}

.image-container {
  width: 42.3vw;
  flex-shrink: 0;
  background: url('../images/hero-desktop.jpg') no-repeat top center / cover;

  @media (max-width: $mobileBreakpoint) {
    width: 100%;
    height: 66vw;
    background: url('../images/hero-mobile.jpg') no-repeat top left / cover;
    margin-top: 84px;
  }
}
