// --------------------------------------------------
// Variables
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

// Fonts
$fontPoppins: 'Poppins', sans-serif;

// Colors
$red: #EA5454;
$green: #44D3D2;
$yellow: #FCAE4A;
$blue: #549EF2;
$dark: #4D4F62;
$light: #F2F2F2;
$white: #FFFFFF;

// Breakpoints
$tabletBreakpoint: 965px;
$mobileBreakpoint: 600px;
