// --------------------------------------------------
// Variables
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

// Fonts
$fontJosefin: 'Josefin Sans', sans-serif;

// Colors
$gradient: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
$dark: #423A3A;
$darkRose: #CE9898;
$rose: #EE8B8B;
$white: #FFFFFF;

// Breakpoints
$tabletBreakpoint: 900px;
$mobileBreakpoint: 650px;
